body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

div.gallery-container {
    padding: 20px;
}

div.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    position: relative;
    background-color: #ffffff;
    border-radius: 6px;
    float: left;
    overflow: auto;
    width: 260px;
    height: 300px;
    padding: 15px;
    cursor: pointer;
}

div.gallery:hover {
    border: 1px solid #777;
}

button.bottom {
    position: absolute;
    bottom: 10px;
}
